<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>MUDA MUDA MUDA</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
    <div id='video'><div><iframe width="560" height="315" src="https://www.youtube.com/embed/AEMSUlSaels?controls=0&autoplay=1&iv_load_policy=3&rel=0&modestbranding=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>
    <div id="img"><div><img src="/static/res/muda.gif"></div></div>
    <p>MUDA MUDA MUDA!!</p>
</body>
</html>